body{
    background-color: #441e13;
}

div{
    outline: 1px solid red;
}


.container{
    
   max-width: 920px;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
overflow: hidden; 
          
}

.nav {
background-color: rgba(0,0,0,0.25);
height: 62px;
margin-left: 371px;
margin-right: 371px;
margin-top: 20px;
13 / 14
max-width: 920px;
    
    

 
   
}


    .nav ol {
padding: 18px 10px;
        color: #FFF
}
.nav li {
border-right: 1px solid #D4B364;
display: block;
float: left;
font-family: sans-serif;
padding: 6px 20px;
}
.nav li:last-child {
border-right: none;
    
}
    
.logoarea{
    width:100%;
}
.logo{
    width:205px;
    color: #FFFF;
    font-size:2.5rem;
    font-weight: bold;
    float:left;
    
}

.Slogan{
    width:380px;
    float:left;
    color:#FFF;
    font-size:0.9rem;
    font-family: sans-serif;
    margin-top: 18px;
    
}

.greenblock {
    margin-left:371px;
    margin-right:371px;
    margin-top: 20px;
    background: #8da987;
    height: 212px;
            
}

.About{
    margin-left: 225px;
    font-size: 50px;
   font-family: serif;
    
    
}



.blueblock{
    background: #9aaead;


    margin-left: 371px;
    margin-right: 1075px;
    height: 920px;
    

}

.creamboxx {
    
    margin-left: 215px;
    margin-right: 71px;
    background: #dad9c8;
    width: 709px;
    height: 920px;
}

.nav2{
 
    
    
}
  






