body{
    
}

.blue{
    background-color: cornflowerblue;
    height: 50px;
}

.green{
    background-color: greenyellow;
    height: 100px;
}
.brow{
    background-color: sandybrown;
    height: 100px;
}